Sidekiq.configure_server do |config|
  config.redis = { url: REDIS_URL }
  config.logger.formatter = Sidekiq::Logger::Formatters::Datadog.new
  config.error_handlers << Sidekiq::Datadog::Error::Tracking
end

Sidekiq.configure_client do |config|
  config.redis = { url: REDIS_URL }
end
