<% module_namespacing do -%>
class <%= class_name %>Service < ApplicationService
  <%- if arguments.size >= 1 -%>

  attr_reader <%= arguments.map { |arg| ":#{arg}" }.join(', ') %>

  def initialize(<%= arguments.map { |arg| "#{arg}:" }.join(', ') %>)
    super()

    <%- arguments.each do |argument| -%>
    <%= "@#{argument} = #{argument}" %>
    <%- end -%>
  end
  <%- end -%>

  def call
    # TODO
  end

end
<% end -%>
