redis_local: &redis_local
  adapter: redis
  url: <%= ENV.fetch('REDIS_URL', 'redis://redis:6379') %>

development:
  <<: *redis_local

test:
  <<: *redis_local

staging:
  <<: *redis_local

production:
  <<: *redis_local
