development: &default
<%- if @adapter =~ /mysql/ -%>
  adapter: mysql2
<%- else -%>
  adapter: postgresql
<%- end -%>
  url: <%%= ENV['DATABASE_URL'] %>

test:
  <<: *default
  database: <%%= ENV['DTABASE_TEST_URL'] %>

staging:
  <<: *default

production:
  <<: *default
